
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Construct 2 files
*.uistate.xml
*.backup1
*.autosave

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
